html
    head 
        title PUG
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    body
        div(class='container') 
            a(href='/' class='text center')
                button(type='button' class='btn btn-primary') Agregar producto
            a(href='/productos' class='text center')
                button(type='button' class='btn btn-primary') Ver lista de productos
    block form
    block table
