extends header.pug

block table
  div(class='container p-4 bg-success bg-gradient')
    if productos.length === 0
      div(class="alert alert-info container" role="alert") No se encontraron productos
    else
      table(class='table container')
        div(class="alert alert-dark text-center" role="alert") Lista de productos
          thead
            th(scope='col') Nombre 
            th(scope='col') precio
            th(scope='col') Imagen
          tbody
              each producto in productos
                  tr
                    td=producto.title 
                    td=producto.price 
                    td
                      img(style="max-width: 50px; heigth: auto" src=`${producto.thumbnail}`)  