<form id="messageForm" action="">
    <input type="email" name="email" id="email" placeholder="Ingrese su email">
    <input type="text" name="text" id="text" placeholder="Ingrese su mensaje">
    <button type="button" onclick="addMessage(messageForm)">Add</button>
</form>